body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #007bff;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

table {
  width: calc(100% - 320px);
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

th:nth-child(3), /* Adjust the width of the grossWeight column */
td:nth-child(3) {
  width: 15%; /* Set a specific width */
}

#packageForm {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none;
  overflow-y: auto;
}

#packageForm h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#closeFormButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#closeFormButton:hover {
  background-color: #d32f2f;
}

#openFormButton {
  float: left;
}
